/*Header*/

header {
    width: 100%;
    background-color: $bgcolor;
    padding: 3% 0%;
    
    h1{
        letter-spacing: -2px;
        color: $logocolor;
        text-align: center;
        margin: 0;
        font-size: 60px;
    }
}