.meal_ledelice {
  @include meal($ledelicebg, #000);
  font-family: map-get($font_menu, "kalam");
  letter-spacing: 1px;
  font-weight: 600;

  &__header {
    margin-bottom: 20px;
    &--title {
      letter-spacing: 2px;
      margin-bottom: 50px;
      @include sm {
        margin-bottom: 20px;
      }
      & h1 {
        font-size: 35px;
        font-family: map-get($font_menu, "ledeliceh2");
        margin: 0;
        @include menu_gradient($ledelice1, $ledelice2);
        @include sm {
          font-size: 20px;
        }
      }
    }
  }

  @include meal_content; //meal main choices for all meal pages
}
#ledeliceblue1 {
  & h2:after {
    border-color: $ledelice1;
  }
}
#ledeliceblue2 {
  & h2:after {
    border-color: $ledelice3;
  }
}
#ledeliceblue3 {
  & h2:after {
    border-color: $ledelice2;
  }
}
