.meal_lapalette {
  @include meal($lapalettebg, #000);
  font-family: map-get($font_menu, "kalam");
  letter-spacing: 1px;
  font-weight: 500;

  &__header {
    margin-bottom: 20px;
    &--title {
      letter-spacing: 2px;
      margin-bottom: 50px;
      @include sm {
        margin-bottom: 20px;
      }
      & h2 {
        font-size: 35px;
        font-family: map-get($font_menu, "lapaletteh2");
        margin: 0;
        @include menu_gradient($lapalette1, $lapalette2);
        @include sm {
          font-size: 20px;
        }
      }
    }
  }
  @include meal_content; //meal main choices for all meal pages

  &__content--title{
    & h3:after {
      border-color: $lapalette1 ;
    }
  }

  
}


