.soon {
    display: block;
    margin: auto;
    width: 400px;
    @include sm {
        margin-top: 35px;
        width: 220px;
    }
    &__block {
        border-radius: 10px;
        margin-bottom: 100px;
        background-color: $bgcolor;
        overflow: visible;
        &--pulsate1 {
            margin-left: 3px;
            animation: pulsate 800ms 100ms alternate-reverse ease-out;
            animation-iteration-count: infinite;
        }
        &--pulsate2 {
            margin-left: 3px;
            animation: pulsate 800ms 300ms alternate-reverse ease-out;
            animation-iteration-count: infinite;
        }
        &--pulsate3 {
            margin-left: 3px;
            animation: pulsate 800ms 600ms alternate-reverse ease-out;
            animation-iteration-count: infinite;
        }
        h2 {
            position: relative;
            color: $logocolor;
            font-weight: 300;
            letter-spacing: 1px;
            padding: 5px 8px;
            text-align: center;
            overflow: visible;
            font-size: 35px;
            @include sm {
                font-size: 20px;
            }
        }
    }
}