/*keyframes*/

@-webkit-keyframes pulsate {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes pulsate {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes zoomin {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    to {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        opacity: 0.5;
    }
}

@keyframes zoomin {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    to {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        opacity: 0.5;
    }
}

@include sm {
    @-webkit-keyframes zoomin {
        from {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 1;
        }
        to {
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
            opacity: 0.5;
        }
    }
    @keyframes zoomin {
        from {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 1;
        }
        to {
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
            opacity: 0.5;
        }
    }
}

@-webkit-keyframes shake {
    10% {
        -webkit-transform: translatex(-1px);
        transform: translatex(-1px);
    }
    25% {
        -webkit-transform: translatex(2px);
        transform: translatex(2px);
    }
    50% {
        -webkit-transform: translatex(-3px);
        transform: translatex(-3px);
    }
    100% {
        -webkit-transform: translatex(1px);
        transform: translatex(1px);
    }
}

@keyframes shake {
    10% {
        -webkit-transform: translatex(-1px);
        transform: translatex(-1px);
    }
    25% {
        -webkit-transform: translatex(2px);
        transform: translatex(2px);
    }
    50% {
        -webkit-transform: translatex(-3px);
        transform: translatex(-3px);
    }
    100% {
        -webkit-transform: translatex(1px);
        transform: translatex(1px);
    }
}