/*variables*/

$bgcolor: #579c87;
$logocolor: #fdcb46;
$lanotebg: #fcdfdb;
$lechic1: #c77412;
$lechic2: #6e4dc8;
$lechic3: #a96798;
$lechicbg: #fff5fe;
$ledelice1: #0536e1;
$ledelice2: #229df9;
$ledelice3: #0071ee;
$ledelicebg: #edefef;
$lapalettebg: #fdfffd;
$lapalette1: #41963c;
$lapalette2: #b4f679;

/*--variables breakpoint et mixins breakpoint--*/

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 670px;
// Small tablets (portrait view)
$screen-md-min: 800px;
// Tablets and small desktops
$screen-lg-min: 1100px;